NODE_ENV=development
SERVER_BASE_URL=http://localhost:3000
SOURCE_HOSTNAME_WHITELIST=resources.tidal.com
TOKEN_AUTH_USERNAME=user
TOKEN_AUTH_PASSWORD=password
MAXIMUM_OUTPUT_SIZE=100
MAXIMUM_OUTPUT_FRAMERATE=30
TOKEN_SIZE=48
TOKEN_TTL=3600000
TOKEN_TTL_RESOLUTION=60000
CONVERSION_JOB_CONCURRENCY=8
CONVERSION_RESULT_TTL=30000
CONVERSION_MAX_STREAM_DURATION=20000
REDIS_HOSTNAME=127.0.0.1
REDIS_PORT=6379
CONVERSION_STREAM_BUFFER_SIZE=65536
CONVERSION_STREAM_HTTP_TIMEOUT=30000
